#cf1>p{
    font-size: 25px;
}
img{
    height:600px;
    width:800px;
}

@media screen and  (max-width: 650px) {
    img{
        width: 650px;
        height: 566px;
    } 

@media screen and  (max-width: 500px) {
    img{
        width: 500px;
        height: 436px;
    } 
    #cf1>p{
    font-size: 20px;
}

@media screen and  (max-width: 480px) {
    img{
        width: 480px;
        height: 418px;
    } 
    #cf1>p{
    font-size: 20px;
}
@media screen and  (max-width: 320px) {
    img{
        width: 320px;
        height: 200px;
    }
    #cf1>p{
    font-size: 20px;
}     
}